.DS_Store
/examples/output/journal1/
/examples/output/uneven_journal/
*.aux
*.log
*.bcf
*.fdb_latexmk
*.run.xml
*.fls
*.gz
*.out
examples/.obsidian/workspace.json
examples/Obsidian Paper Export.code-workspace
examples/.obsidian
Obsidian Paper Export.code-workspace
examples/output/project555_output
examples/output/Uneven_Sampling_Conference